/* Style sponsor button */
.sponsor-button {
    margin-left: 10px;
    padding: 6px 10px;
    font-size: 0.65rem;
    font-family: "Arial", sans-serif;
    text-decoration: none;
}

[data-md-color-scheme="default"] .sponsor-button {
    background-color: white !important;
    color: black !important;
}

[data-md-color-scheme="slate"] .sponsor-button {
    background-color: hsla(var(--md-hue), 15%, 9%, 1) !important;
    color: white !important;
}