/* Hide sidebar section titles */
.md-nav__title {
    display: none !important;
}

.sponsor-button, .star-button {
    margin-left: 10px;
    background-color: white !important;
    color: black !important;
    padding: 6px 10px;
    /* font-weight: bold; */
    font-family: sans-serif;
    font-size: .6rem;
    text-decoration: none;
}

/* Bold only first-level items in the left sidebar */
.md-sidebar--primary .md-nav__list > .md-nav__item > .md-nav__link {
    font-weight: bold;
    font-size: 0.8rem; /* Optional: Increase size */
}

/* Ensure nested (child) items remain normal */
.md-sidebar--primary .md-nav__list .md-nav__list .md-nav__item > .md-nav__link {
    font-weight: normal;
}